:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Sizing reset ---------- */
* {
  box-sizing: border-box;
}

/* --------------- */

body {
  padding: 0;
  margin: 0;
  background: #8ee4af;
}

a {

}
a:hover {
}



h1 {
  /* font-size: 3.2em;
                  line-height: 1.1; */
}

button {
  cursor: pointer;
}
.app {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  background-color: blueviolet;
  font-size: 5rem;
  display: grid;
  place-content: center;
  color: #222;
}
.center {
  display: flex;
  justify-content: center;
}
.form {
  width: 700px;
  background-color: #556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.particle {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
